#contact_container{
    height: 100vh;
    width: 100%; 
    background: #f0f0f0;
}
#contact{
    padding: 3px;
}

.contact_heading{
    
    margin-left: 5px;
    margin-bottom: 1px;
    font-size: xx-large;
    font-weight: 600;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 25px;
    /* justify-content: space-around; */
    border: 1px solid blue;
    padding: 25px;
    border-radius: 4px;
  }

  
  .form-field {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 400px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  textarea{
    height: 100px;
  }
  #form_submit_button {
    padding: 10px 20px;
    background-color:blue;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
    
  }
  
  #form_submit_button:hover {
    background-color: #0056b3;
  }
  /* Media query for smaller screens, adjust as needed */
  @media (max-width: 768px) {
  #contact_container{
    height: auto; /* Remove the fixed height and let the content determine the height */
      min-height: 100vh; /* Ensure the page takes at least the full viewport height */
    }
  }
  