.introduction{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #f0f0f0;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}
.name_heading{
    font-size: 4rem;
    font-weight: 650;
    margin-bottom: 0.5rem; 
}
.introduction>p{
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
  
  .logo {
    position: absolute;
    top: 116px;
    left: 26px;
    width: 85px;
    height: 85px;
  }
  .blue-letter {
    color: blue;
  }
    /* Media query for smaller screens, adjust as needed */
    @media (max-width: 768px) {
     
        .introduction>p{
          text-align: center;
        }
        .introduction>p{
          font-size: 2rem;
          margin-top: 0.5rem;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          text-align: center;
      }
      }
      


