#projects{
  min-height: 100vh;
  width: 100%; 
  max-height: fit-content;
  padding: 3px;
}

.proj_heading{
    margin-top: 60px;
    margin-left: 5px;
    margin-bottom: 3px;
    font-size: xx-large;
    font-weight: 600;
}

.projects_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 30px;
  margin: 24px;
  margin-left: 60px;
  margin-bottom: 5px;
  /* height:min-content;
  width: 80%; */
}

.projects_cards Button{
margin-top: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; /* Adjust the z-index value to make sure the modal appears on top */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  height:fit-content;
  width:80%
}
  /* Media query for smaller screens, adjust as needed */
  @media (max-width: 768px) {
    #projects{
      height: auto; /* Remove the fixed height and let the content determine the height */
        min-height: 100vh; /* Ensure the page takes at least the full viewport height */
      }
      .projects_cards{
        align-items: center;
    }
    .modal-content {
      background-color: #fff;
      padding: 10px;
      height:fit-content;
      width:80%
    }
    .projects_cards Button{
      margin-top: 1px;
      }
    }
    