#skills{
        min-height: 100vh;
        height:fit-content;
        width: 100%; 
        background: #f0f0f0;
}

#skills_container{
    padding: 18px;
    /* min-height: 100vh;*/
    height:fit-content; 
}

.skills_heading{
    
    margin-left: 5px;
    margin-bottom: 3px;
    font-size: xx-large;
    font-weight: 600;
}

.skills_box{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content:center;
    gap: 30px;
  margin: 24px;
  margin-left: 60px;
  margin-bottom: 5px;
  height:min-content;
  /* width: 70%; */
}

.skill_name{
    text-align: center;
}
.skill_img{
    text-align: center;
}
  /* Media query for smaller screens, adjust as needed */
  @media (max-width: 768px) {
    #skills{
      height: auto; /* Remove the fixed height and let the content determine the height */
        min-height: 100vh; /* Ensure the page takes at least the full viewport height */
      }
    }
    