#skills{
        height: 100vh;
        width: 100%; 
        background: #f0f0f0;
}

#skills_container{
    padding: 2px;
}

.skills_heading{
    
    margin-left: 5px;
    margin-bottom: 3px;
    font-size: xx-large;
    font-weight: 600;
}

.skills_box{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content:center;
    gap: 30px;
  margin: 24px;
  margin-left: 60px;
  margin-bottom: 5px;
  height:min-content;
  /* width: 70%; */
}

.skill_name{
    text-align: center;
}
.skill_img{
    text-align: center;
}